*{
    /* outline: 2px solid red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Header{
    text-align: center;
    background-color: darkcyan;
}

.Directions{
    display: flex;
    justify-content: center;
}

h2{
    color: darkcyan;
    font-size: 28px;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container{
    /* border: 5px solid; */
    display: flex;
    justify-content: space-around;
}

.container div{
    border: 5px solid;
    border-color: rgb(20, 148, 135);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}